<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>847566778779-bmhp54udu1dklj0joq65gmlu6hv1f1au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847566778779-bmhp54udu1dklj0joq65gmlu6hv1f1au</string>
	<key>API_KEY</key>
	<string>AIzaSyAmidSI6EdauyUqiGR2jT_RSQuJv4FnqRk</string>
	<key>GCM_SENDER_ID</key>
	<string>847566778779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lioz.balki.A-T-W-N</string>
	<key>PROJECT_ID</key>
	<string>atwn-b5c66</string>
	<key>STORAGE_BUCKET</key>
	<string>atwn-b5c66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847566778779:ios:a5df682e329fbdf5</string>
	<key>DATABASE_URL</key>
	<string>https://atwn-b5c66.firebaseio.com</string>
</dict>
</plist>